body {
    text-align: justify;
}

header {
    position: relative;
    box-shadow: 1px 1px 3px Black;
    margin-bottom: 5px;
}

header h1 {
    position: absolute;
    right: 15px;
    top: 15px;
    text-shadow: 1px 1px 1px Black;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

section {
    padding-bottom: 5pt;
    box-shadow: 1px 1px 3px Black;
}

section a {
    text-decoration: none;
}

section img {
    width: 300px;
}

h2 {
    text-shadow: 1px 1px 1px Black;
}

.up {
    text-align: right;
    font-size: 120%;
}

a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 1px Black;
}

footer {
    padding: 25px;
}

@media screen and (min-width: 768px) {
    section img.img-right {
        float: right;
        margin-left: 15px;
        margin-top: 10px;
    }
    section img.img-left {
        float: left;
        margin-right: 15px;
        margin-top: 10px;
    }
}


/*
Saját, feladathoz írtak:  
*/

.teljesoldal {
    width: 1000px;
    margin: 0 auto;
}

header h1 {
    color: gray;
    text-transform: capitalize;
}

section {
    margin: 20px;
    color: gold;
}

h2 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightblue;
}

img {
    max-width: 100%;
}

@media screen and (min-width: 576px) {
    body {
        text-align: left;
    }
    section p {
        margin-left: 15px;
    }
}